*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: rgb(11, 3, 3);
}

body.preventscroll {
    overflow: hidden;
}

header {
    height: 100px;
    width: 100%;
    background-color: black;
    position: relative;
}

.logo-text {
    color: rgb(168, 119, 28);
    font-family: caramel;
}
.slogan {
    color: rgb(168, 119, 28);
    font-family: caramel;
}

.logo {
 padding-top: 15px;
 padding-left: 40px;
 cursor: pointer;
 width: 150px;
}

.burger {
    position: absolute;
    right: 40px;
    top: 43px;
    cursor: pointer;
}

.line {
    width: 20px;
    height: 1px;
    background-color: white;
    margin-bottom: 5px;
}

.nav-bar {
    background-color: black;
    position: absolute;
    top: 0;
    transition: 0.5s;
    height: 100vh;
    right: -100%;
    z-index: 1;
}

li a{
    transition: 0.5s;
}


a:hover {
    opacity: 0.5;
}

.nav-bar.active {
    width: 390px;
    right: 0;
}



.starting {
    display: flex;
    width: 100%;
    border-bottom: 1px rgb(65, 65, 65) solid;
    position: relative;
}

.option-logo {
    padding-bottom: 30px;
}

.close {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 210px;
}

.option a{
    color: white;
    font-size: 25px;
}

.option {
    padding-top: 40px;
    padding-left: 35px;
}

li {
    padding-bottom: 13px;
    
}

.menu-list {
    padding-left: 25px;
    height: 0;
    opacity: 0;
    display: none;
}

.menu-list a{
    font-size: 17px;
   
}

.menu-list li{
    padding-bottom: 20px;
}

.menu-list.listactive {
    height: 100%;
    opacity: 1;
    display: block;
}

.arrow {
    width: 10px;
    margin-left: 250px;
    cursor: pointer;
}

.arrow.arrowdown {
    rotate: 90deg;
}

.facebook {
    width: 25px;
    margin-top: 50px;
    margin-left: 30px;
}

.instagram {
    width: 25px;
    margin-left: 10px;
}

.infos {
    border-top: 1px solid rgb(65, 65, 65);
    margin-top: 50px;
    padding-top: 50px;
    
}

.location-img {
    width: 20px;
}

.location-text  {
    color: white;
    display: inline;
    font-size: 17px;
    margin-left: 10px;
}

.phone-img {
    display: block;
    width: 30px;
    padding-top: 15px;
    margin-left: -5px;
    height: 38px;
}

.phone-text {
    color: white;
    font-size: 17px;
    padding-top: 18px;
    margin-left: 6px;
}

.phone {
    display: flex;
}

.email-img {
    width: 22px;
    margin-top: 3px;
}

.email-text {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 12px;
}

.email {
    display: flex;
    padding-top: 15px;
}

.infos {
    padding-left: 20px;
}

a {
    font-family: nunito;
   
}

.starting-div {
    position: relative;
    width: 100%;
    height: 850px;
    background-image: url(./images/mainphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.main-photo {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
}

.starting-text {
    padding-top: 250px;
    text-align: center;
    font-family: nunito;
    color: white;
    letter-spacing: 3px;
}

.star {
    width: 14px;
    margin-top: 20px;
    margin-left: 10px;
}

.starting-slogan {
    margin-top: 20px;
    font-family: nunito;
    color: white;
    font-size: 23px;
}

.starting-button {
    margin-top: 40px;
    background-color: transparent;
    border: 2px rgb(168, 119, 28) solid;
    transition: 0.3s;
    cursor: pointer;
}

.starting-button-text {
    font-size: 20px;
    font-family: nunito;
    color: rgb(168, 119, 28);
    padding: 7px;
    font-weight: bold;
    transition: 0.3s;
}

.starting-button:hover {
    background-color: rgb(168, 119, 28);
    margin-top: 39px;
}

.starting-button:hover h1{
   color: rgb(65, 65, 65);
}

.middle-menu {
    display: grid;
    margin-top: 120px;
    width: 80%;
    margin: 120px auto;
    grid-gap: 60px;
}

.dishes {
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
    height: 60vw;
}

.dishes:hover {
    margin-top: -5px;
    margin-bottom: 5px;
}

.middle-menu-text {
    color:rgb(168, 119, 28);
    font-family: nunito;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}


.about-restaurant {
    color: white;
    width: 85%;
    margin: 0 auto;
    text-align: left;
    font-family: nunito;
}

.about-restaurant-p {
    margin-top: 25px;
}

.about-restaurant-p2 {
    margin-top: 25px;
}

.about-restaurant-p3 {
    margin-top: 25px;
}

.container {
    width: 100%;
    margin-top: 60px;
}

.swiper {
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: fit-content;
}


.swiper .swiper-pagination-bullet-active {
    background-color: rgb(168, 119, 28);
}

.content {
    width: 100%;
    margin-top: 110px;
    display: grid;
    font-family: nunito;
}

.content-graph {
    width: 100%;
    display: grid;
    font-family: nunito;
}

.background {
    width: 100%;
    height: 300px;
    background-image: url(./images/atmosphere.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background1 {
    width: 100%;
    height: 300px;
    background-image: url(./images/music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background2 {
    width: 100%;
    height: 300px;
    background-image: url(./images/vip.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background3 {
    width: 100%;
    height: 300px;
    background-image: url(./images/cuisine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background4 {
    width: 100%;
    height: 300px;
    background-image: url(./images/bar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-graph h1{
    color: white;
    margin-left: 5%;
    font-size: 28px;
    margin-top: 20px;
}

.content-graph p{
    color: white;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 80px;
}

.last {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-family: nunito;
    border-top: 1px solid rgb(168, 119, 28);
}

.last h1{
    color:rgb(168, 119, 28);
    font-size: 22px;
    letter-spacing: 3px;
}

.last p{
    color: white;
}

.first-last{
    padding-top: 50px;
}

.second-last {
    margin-top: 30px;
}

.last-last {
    margin-top: 30px;
    padding-bottom: 50px;
}

.middle-menu h1 {
    cursor: pointer;
}

.before-header {
    display: none;
}

.before-header {
    display: none;
}


@media only screen and (min-width: 768px) {
    .middle-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    

    

    .middle-menu-div img{
        height: 35vw;
    }


    .content-graph {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid1 {
        grid-area: 1/2;
    }

    .content-text h1{
        padding-left: 30px;
        margin-top: 90px;
        
    }

    .content-text p{
        padding-left: 30px;
        margin-top: 20px;
    }

    .last {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 50px;
    }
    .first-last {
        padding-top: 35px;
    }
}

@media only screen and (min-width: 1020px) {

    

    .nav-bar .infos {
        display: none;
    }

    .nav-bar .facebook {
        display: none;
    }

    .nav-bar .instagram {
        display: none;
    }


   .nav-bar {
    right: 30px;
    height: 100px;
   }

   .starting {
    display: none;
   }

   .option {
    display: flex;
    gap: 40px;
   }

   .arrow {
    margin: 0;
   }

   .before-header {
    width: 100%;
    height: 100px;
    background-color: black;
    position: relative;
    top: 0;
    border-bottom: 1px gray solid;
    z-index: 1;
    display: flex;
    color: white;
    font-family: nunito;
   }

   .burger {
    display:  none;
   }

   .before-location-text {
    color: white;
    font-family: nunito;
    font-size: 15px;
    margin-left: 10px;
   }

   .before-location {
    display: flex;
    padding-top: 40px;
    padding-left: 50px;
   }

   .before-location-img {
    width: 15px;
    height: 15px;
   }
   
   .before-infos {
    position: absolute;
    right: 70px;
    padding-top: 40px;
    display: flex;
   }

   .before-phone-img {
    width: 20px;
    height: 20px;
   }

   .before-phone-text {
    font-size: 15px;
    margin-left: 10px;
   }

   .before-phone {
    display: flex;
    margin-right: 50px;
   }

   .before-email {
    display: flex;
    margin-right: 40px;
   }

   .before-email-img {
    width: 20px;
    height: 20px;
    
   }

   .before-email-text {
    font-size: 15px;
    margin-left: 10px;
   }

   .before-socials-img1 {
    width: 20px;
    height: 20px;
   }

   .before-socials-img2 {
    width: 20px;
    height: 20px;
   }


.middle-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.middle-menu-div img{
    height: 18vw;
}

.about-restaurant {
    width: 25%;
    margin: 0;
    margin-left: 30px;
    display: inline-block;
}

.container {
    width: 60%;
    display: inline-block;
    float: right;
}

.content-graph {
    width: 100%;
    
}

.background {
    height: 30vw;
   
}

.background2 {
    height: 30vw;
}

.background3 {
    height: 30vw;
}

.background4 {
    height: 30vw;
}

.content {
    width: 90%;
    display: flex;
    float: right;
    padding-bottom: 30px;
}

.big-screen {
    width: 85%;
    height:1fr;
    background-image: url(./images/brown.jpg);
    background-repeat: no-repeat;
    margin-left: -12%;
    background-size: cover;
    background-position: center;
}

.big-screen1 {
    width: 100%;
}

.swiping-thing {
    display: flex;
    
}

.container {
   margin-left: 11%;
}

.about-restaurant {
    margin: auto auto;
}

.menu-list {
    position: absolute;
    background-color: black;
    right: 90px;
    top: 100px;
    z-index: 100;
    transition: 0.5s;
    
}

.menu-list.listactive {
   height: 170px;
   width: 150px;
   display: grid;
   justify-content: center;
   align-items: center;
}



.hover1::after {
    position: absolute;
    content: "";
    background-color: rgb(168, 119, 28);
    width: 20%;
    height: 3px;
    left: 20px;
    bottom:15px;
    transition: 0.5s;
    
}

.hover1:hover::after {
    width: 20%;
    
}

.hover2::after {
    position: absolute;
    content: "";
    background-color: rgb(168, 119, 28);
    width: 0;
    height: 3px;
    left: 135px;
    bottom:15px;
    transition: 0.5s;
}

.hover2:hover::after {
    width: 25%;
}

.hover3::after {
    position: absolute;
    content: "";
    background-color: rgb(168, 119, 28);
    width: 0;
    height: 3px;
    left: 280px;
    bottom:15px;
    transition: 0.5s;
}

.hover3:hover::after {
    width: 18%;
}

.hover4::after {
    position: absolute;
    content: "";
    background-color: rgb(168, 119, 28);
    width: 0;
    height: 3px;
    left: 400px;
    bottom:15px;
    transition: 0.5s;
}

.hover4:hover::after {
    width: 21%;
}

.menu-list li {
    margin-left: -20px;
}



}


@media only screen and (min-width: 1280px) {
    .background {
        height: 20vw;
    }
    
    .background2 {
        height: 20vw;
    }
    
    .background3 {
        height: 20vw;
    }
    
    .background4 {
        height: 20vw;
    }
}
